<div class="flex flex-col">
    <div class="flex justify-between pt-2 px-4">
        <div class="relative">
            <ng-icon
                name="bootstrapSearch"
                class="absolute top-3 left-2 z-20"
            />
            <input
                type="text"
                placeholder="Search"
                class="input pl-8 min-w-[300px]"
            />
        </div>
        <div>
            <app-add-bookmark-button (bookmarkAdded)="bookmarkAdded.emit()" />
        </div>
    </div>
    <div
        class="flex items-center py-4 px-4 justify-between border-b border-secondary"
    >
        <h1 class="text-xl font-bold">All Bookmarks</h1>
        <app-view-mode-dropdown
            [viewMode]="viewMode()"
            (viewModeChange)="viewModeChange.emit($event)"
        >
        </app-view-mode-dropdown>
    </div>
</div>
