<main class="py-4">
    <h1 class="text-2xl font-bold mb-6 px-4">Your Bookmarks</h1>

    <div class="flex flex-col">
        @for (bookmark of bookmarks; track bookmark.id) {
        <div
            class="px-4 py-2 flex flex-col hover:bg-base-300 border-y border-gray-500"
        >
            <h2 class="text-lg font-semibold mb-2">{{ bookmark.title }}</h2>
            <a [href]="bookmark.url" class="text-blue-500 hover:underline">{{
                bookmark.url
            }}</a>
        </div>
        }
    </div>
</main>
